<xml>
   <Configuration>
     <softwares>
                <software>
                 	 <toolname>tomcat</toolname>
                  	 <version>8.0.39</version>  
                	 <Type>Install</Type> 
                 </software>
                 <software>
                	 <toolname>jenkins</toolname>
                 	 <version>latest</version>
                	 <Type>Install</Type>
                 </software>  
         </softwares>
  </Configuration>     
 </xml>   
